
/* heading */

.Heading{
    text-align: center;
    font-size:larger;
    font-style: Lucida Sans, bold;
}


/* body */
.main-container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    padding: 50px;
    
    background-color: rgb(84, 104, 136);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.input-container{
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    background-color: antiquewhite;
    border-radius: 20px;
    border: 10px;
    padding: 20px;
    gap: 10px;
    display: grid;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,10);
}

.button {
  color: white;
  font-size: 15px;
  padding: 12px;
  border: 2px;
  border-radius: 5px;
  cursor: pointer;
}

input:focus {
  background-color: rgb(154, 196, 153);
  opacity: 0.5;
}

.submitbtn{
    background-color: rgb(158, 219, 129);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.resetbtn{
    background-color: rgb(245, 104, 104);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}